@charset "UTF-8";
/***********************************
              共通css
************************************/
* {
  margin: 0;
  padding: 0;
}

html {
  /* ブラウザーのデフォルトの文字サイズ(16px)やユーザーが設定した文字サイズが正しく反映される */
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  color: #444444;
}

img {
  /* 画像が親要素よりも大きくなることを防ぐ */
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  /* 画面中央に寄せる */
  max-width: 1180px;
  margin: 0 auto;
}

.sm-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

/* 大きな背景画像 */
.big-bg {
  background-size: cover;
  background-position: center right;
}

/* 文字を太くする */
.fw-bold, #main-content .news .news-content .news-list li .news-date, #main-content .news .news-content .news-list li .news-sentence, #main-content .news .news-content .more-news {
  font-weight: bold;
}

/* 横並び */
.flex, .header, .site-logo, #home.big-bg .captions, .commitment, #main-content .treatment-content .treatment-details, .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* 縦書きモード */
.caption, #home.big-bg .caption-1, #home.big-bg .caption-2 {
  background-color: #ffffff;
  height: 565px;
  width: 102px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 1.75rem;
  font-weight: bold;
}

.caption-text, #home.big-bg .caption-1 p, #home.big-bg .caption-2 p {
  position: absolute;
  top: 25px;
  left: 30px;
  letter-spacing: 4px;
}

.content-title, .commitment .writting .commitment-title, #main-content .treatment-content .treatment-title, #main-content .news .text-align-center .news-title {
  display: inline-block;
  font-size: 1.5rem;
  border-bottom: 10px solid #99e5a5;
  line-height: 0.5;
}

.content-box, #main-content .treatment-content .treatment-details article {
  border-radius: 10px;
}

.border, .content-box, #main-content .treatment-content .treatment-details article {
  border: 2px solid #c9c9c9;
}

#global-container {
  background-color: #ffffff;
}

/***********************************
              ヘッダー
************************************/
.header {
  height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-logo {
  width: 263px;
  height: 73px;
}

.site-logo > img {
  width: 263px;
  height: 73px;
}

.header-contact .reception {
  margin-bottom: 18px;
  font-size: 0.875rem;
}

.header-contact .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-contact .phone-number > img {
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

.header-contact .phone-number .number {
  color: #21a937;
  font-size: 1.5rem;
  line-height: 24px;
}

/***********************************
            ホームイメージ
************************************/
#home.big-bg {
  background-image: url(../../images/home-image.jpg);
  min-height: 947px;
  position: relative;
}

#home.big-bg .captions {
  position: absolute;
  top: 133px;
  left: 220px;
}

#home.big-bg .caption-1 {
  position: relative;
}

#home.big-bg .caption-1 p span {
  color: #21a937;
}

#home.big-bg .caption-2 {
  margin-left: 80px;
  position: relative;
}

/***********************************
                公約
************************************/
.commitment {
  padding: 162px 0 82px 0;
}

.commitment .writting {
  padding-left: 32px;
  width: 415px;
  height: 138px;
}

.commitment .writting .commitment-title {
  margin-bottom: 40px;
}

.commitment .writting .commitment-title:nth-child(1) {
  padding-right: 8px;
}

.commitment img {
  width: 690px;
  height: 420px;
}

/***********************************
            メインコンテンツ
************************************/
#main-content {
  background-color: #f5fcf8;
  padding: 85px 0 112px 0;
  /*------------- 治療内容 --------------*/
  /*------------- おしらせ --------------*/
}

#main-content .treatment-content {
  text-align: center;
}

#main-content .treatment-content .treatment-title {
  margin-bottom: 79px;
}

#main-content .treatment-content p {
  margin-bottom: 37px;
}

#main-content .treatment-content .treatment-details article {
  background-color: #ffffff;
  padding: 47px 30px 0 30px;
  height: 544px;
  position: relative;
}

#main-content .treatment-content .treatment-details article .article-title {
  margin-bottom: 38px;
  line-height: 1;
}

#main-content .treatment-content .treatment-details article .article-sentence {
  text-align: left;
  line-height: 38px;
}

#main-content .treatment-content .treatment-details article > img {
  position: absolute;
  width: 187px;
  height: 187px;
  bottom: 0;
  left: 25%;
}

#main-content .news {
  margin-top: 89px;
}

#main-content .news .text-align-center {
  text-align: center;
  margin-bottom: 70px;
}

#main-content .news .news-content {
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  position: relative;
}

#main-content .news .news-content .news-list {
  list-style: none;
  padding: 22.5px 66px 44.5px 66px;
}

#main-content .news .news-content .news-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  padding: 26.5px 0 20.5px 0;
}

#main-content .news .news-content .news-list li .news-date {
  margin-right: 37px;
  color: #21a937;
}

#main-content .news .news-content .news-list li .news-title-box {
  position: relative;
  margin-right: 30px;
  background-color: #444444;
  color: #ffffff;
  width: 80px;
  height: 25px;
  font-size: 0.75rem;
}

#main-content .news .news-content .news-list li .news-title-box p {
  line-height: 1;
  text-align: center;
  padding-top: 7px;
}

#main-content .news .news-content .more-news {
  text-align: right;
  cursor: pointer;
  margin-top: 44.5px;
}

#main-content .news .news-content .more-news span {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #444444;
}

/***********************************
              フッター
************************************/
.footer-content {
  padding: 196px 0 164px 0;
}

.footer-content .clinic-location {
  margin-right: 34px;
}

.footer-content .clinik-about {
  width: 533px;
}

.footer-content .clinik-about .address-content {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1;
}

.footer-content .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 36px 0 29.5px 0;
}

.footer-content .phone-number > img {
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

.footer-content .phone-number .number {
  color: #21a937;
  font-size: 1.5rem;
  line-height: 24px;
}

.footer-content .business-about {
  border-top: 2px solid #c9c9c9;
  border-bottom: 2px solid #c9c9c9;
  font-size: 0.875rem;
}

.footer-content .business-about .business-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 0 20px 0;
}

.footer-content .business-about .business-hours__title {
  margin-right: 28.5px;
  padding-top: 4.5px;
}

.footer-content .business-about .business-hours__detail {
  list-style: none;
  border-left: thick solid #c9c9c9;
  border-width: 2px;
  padding: 4.5px 0 0 28.5px;
}

.footer-content .business-about .business-hours__detail li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}

.footer-content .business-about .business-hours__detail li .day {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(80%, #99e5a5));
  background: linear-gradient(transparent 50%, #99e5a5 80%);
  margin-right: 23px;
}

.footer-content .business-about .business-hours__detail li .am {
  margin-right: 16px;
}

.footer-content .business-about .business-hours__detail li:nth-child(3) {
  margin-bottom: 10px;
}

.footer-content .business-about .closed-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 29px;
  margin-bottom: 19px;
}

.footer-content .copyright {
  font-size: 11px;
  text-align: right;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */